@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 250, 249, 246;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 18, 15, 10;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: #e8e3de;
  /* background: rgb(var(--background)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
